@font-face {
    font-family: f1;
    src: url(./PlaywriteCU-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1763435487029-5263f7419796?q=80&w=1175&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1{
    font-family: f1;
    color: white;
    font-size: 70px;
}

button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E7DCC9;
}
button:hover{
    background-color: rgba(251, 201, 50, 0.671);
    transform: scale(1.05);
}